@charset 'utf-8';

@import 'node_modules/nostromo-css/sass/helpers/variables';
@import 'node_modules/nostromo-css/sass/helpers/theme';
@import 'node_modules/nostromo-css/sass/helpers/functions';

$primary: #3d405b;

$grey-dark-3: #dddd;

$myColors: (
  'primary': $primary,
  'primary-light': tint($primary, 20%),
  'primary-dark': shade($primary, 20%),
  'alert': #e4b363,
  'invalid': #fb4d3d,
  'grey-light-1': #808080,
);

$myFonts: (
  'primary': 'Montserrat',
);

$colors: map-merge($colors, $myColors);
$fonts: map-merge($fonts, $myFonts);

:export {
  color1: #ecca92;
  color2: #e5b567;
  color3: #dda03b;
  color4: #c48622;
  color5: #98681a;
  //color6: #e4b363;
  //color7: #8d6018;
}
