@charset 'utf-8';

@import './fonts';

@import './nostromo.config';

@import '../node_modules/nostromo-css/default.scss';

@import '../components/layouts/BaseLayout';

@import '../components/layouts/HeaderLayout';

@import '../components/layouts/ScrollLayout';

@import '../components/layouts/SectionLayout';

@import '../components/layouts/BubbleChart';

// Responsive svg

.svg-container {
  display: block;
  height: 0;
  position: relative;
  margin: auto;
  width: 100%;
  padding: 0; /* reset */
  /* padding-bottom will allow the height to be calculated relative to the available width of the container */
  /* 100% => height = 100% of the width
  /*padding-bottom could be overwritten  in javascript*/
  padding-bottom: 100%; /* if calc needed padding-bottom: calc(100% * svgHeight / svgWidth); */

  > svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}

// Chart button styling

.btn-accessor {
  position: relative;
  transition: transform 0.25s ease-out;
  transform: translateY(0);

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: color('alert');
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &.active {
    transform: translateY(-20%);

    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
